
.cuadro{
    width: 100%;
    height: 500px;
    background-color: orchid;
}
@media only screen and (max-width:500px){
    .body{
        background-color:red;
    }
}
@media only screen and (max-width:1366px){
    .body{
        background-color:purple;
    }
}
@media only screen and (max-width:800px){
    .body{
        background-color:blue;
    }
}
body{
    background-color: cyan;
}

