
#grid{
    display: grid;
    grid-template-rows: 100px 500px 180px 80px 400px 80px 90px 180px 180px;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-auto-flow:row;
}
.logo{
    
    grid-column-start: 1;
    grid-column-end: 2;
    
    display: flex;
    font-size: 2cm;
    font-family: fantasy;

    
  
}
.textologo{
    align-content: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}
.menu{
    display: flex;
    grid-column-start: 3;
    grid-column-end: 5;
    font-size: 20px;
    font-family: fantasy;
    align-items: center;
    justify-content:center;
}

.link{
    
    text-align: center;
    margin:0 20px;
    
}

.imagen{
    width: 100%;
    height: 500px;
    grid-column-start: 1;
    grid-column-end: 5;
    position: relative;
  
    
    
}
.foto{
    width: 100%;
    height: 100%;
}
.foto img{
   object-fit: cover;
   width:100%;
   height: 100%;

  
    
}
.textofoto{
    position: absolute;

    color:white;
    font-size: 40px;
    right: 0px;
    bottom: 0px;
    font-family: fantasy;
    background-color: black;
    opacity: .5;
    
}
.texto1{
    
    grid-column-start: 1;
    grid-column-end: 5;
    display: flex;
    font-size: 25px;;
    font-family: fantasy;
    align-items: center;
    justify-content:center;
    position: relative;
    text-align: center;
}


.text{
   
   margin:  15cm;
   bottom: 10px;
   text-align: center;
}
.texto2{
    
    grid-column-start: 1;
    grid-column-end: 5;
    font-family: fantasy;
    font-size: 30px;
    color: black;
}
.imagenhijo1 {
    margin: 0 10px 0 0;
    width: calc(100%-10px);
    height: 100%;
    

}
.imagenhijo1 img{
    object-fit: cover;
    width: 100%;
    height: 400px;
}
.imagenhijo2 img{
    object-fit: cover;
    width: 100%;
    height: 400px;

  
}
.imagenhijo2 {
    margin: 0 10px 0 0;
    width: calc(100%-10px);
    height: 100%;
}

    
    

.imagenhijo3{
    margin: 0 10px 0 0;
    width: calc(100%-10px);
    height: 100%;

}
.imagenhijo3 img{
    object-fit: cover;
    width: 100%;
    height: 400px;

}
.imagenhijo4{
    margin: 0 10px 0 0;
    width: calc(100%-10px);
    height: 100%;

}
.imagenhijo4 img{
    object-fit: cover;
    width: 100%;
    height: 400px;


}
.imagen4 img{
    height: 400px;
    width: 100%;
    object-fit: cover;
    
}
.texto3{
    color: chocolate;
    font-size: 40px;
    font-family: fantasy;
    margin: 10px;
}
.texto4{
    font-family: fantasy;
    font-size: 30PX;
    grid-column-start: 1;
    grid-column-end: 5;
}
.link{
    font-family: fantasy;
    font-size: 30px;
    color: black;
    text-align: center;
    justify-content: center;
}
.naranja{
    font-family: fantasy;
    color: chocolate;
    
}


    
